services:
  wordpress:
    build: ./
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wp_user
      WORDPRESS_DB_PASSWORD: wp_pass
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DEBUG: 1
    volumes:
      - wordpress:/var/www/html
      - ../fgr-theme:/var/www/html/wp-content/themes/fgr-theme
      - ../tp-wpml-migration-plugin:/var/www/html/wp-content/plugins/tp-wpml-migration-plugin
    networks:
      - fgr-network

  db:
    image: mariadb:11.5
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: wp_pass
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    ports:
      - 3306:3306
    volumes:
      - data:/var/lib/mysql
    networks:
      - fgr-network

networks:
  fgr-network:

volumes:
  wordpress:
  data: