/**
 * Theme Name: Freie Generation Theme
 * Template: viral-news
 * Author: Konstantin Marx
 * Author URI: https://github.com/KonstntinM
 * Version: 1.2.1
 */

#vn-site-branding img{
	width: auto;
	height: 60px;
}

/* Logo im Header vergrößern */
.custom-logo {
	transform: scale(1.8);
}

/* Willkommen! Beim über uns fett machen. */
.vn-pi-name {
	font-weight: bold;
}

/* Schwarze Leiste oben entfernen */

.vn-top-header {
	display: none;
}

/* Labels in Mehr zu diesem Film */

.small-cat-labels a {
	display: block;
	background: #0E0E0E;
	color: #F0F0F0;
	font-size: 9px;
	padding: 4px 6px;
	line-height: 1.2;
	text-transform: uppercase;
	margin-right: 4px;
	margin-bottom: 4px;
}

.small-cat-labels a:hover {
	color: #F0F0F0;
}

/* Language flags */

.fgr-right-header {
	text-align: right;
    font-size: 24px;
	width: 260px;
}

.fgr-lang-menu-mobile {
	gap: 10px;
	align-items: center;
	display: none;
}

@media screen and (max-width: 768px){
    .fgr-lang-menu-mobile {
		display: inline-flex;
	}
}

@media screen and (max-width: 768px){
    .fgr-right-header {
		display: none;
	}
	
}

.vn-header-search {
	width: fit-content !important;
}

.tp-language-name {
	text-transform: uppercase;
	font-size: 20px;
}

.wp-block-latest-posts__post-title {
	font-weight:bold;
}

.posted-on > a:not(:hover) {
	color: inherit !important;
}

/* Film Widget */

.film-widget-container {
	position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    gap: 0.5rem;
	margin-bottom: 5rem;
	min-height: 30vh
}

.film-widget-container img {
	top: 0;
	right: 0;
	object-fit: cover;
	object-position: center;
	height: 100%;
	position: absolute;
}

.widget-film-info {
	position: absolute;
	bottom: 0;
    z-index: 10;
    color: #fff;
    max-width: 24rem;
	margin: 0px 0px 0.6rem 2rem;
}

.widget-film-title {
	
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
	margin-bottom: 0px;
	line-height: 1.1;
	margin-bottom: 0.5rem;
}


.film-widget-container:hover .widget-film-info {
	opacity: 50%;
	transition: opacity .2s ease-out;
}

.film-widget-container:not(:hover) .widget-film-info {
	opacity: 100%;
	transition: opacity .2s ease-out;
}

.widget-film-info {
	cursor: pointer;
}